<section class="row" data-ng-controller="CentersController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="centerForm" class="form-horizontal" data-ng-submit="create()" data-ng-init="init()" novalidate>
                <center_info></center_info>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-large btn-primary">추가</button>
                    </div>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </div>
    </div>
</section>
