<fieldset>
    <div class="form-group">
        <label class="col-lg-2 control-label">이름</label>
        <div class="col-lg-10">
            <input type="text" data-ng-model="credentials.name" placeholder="" class="form-control" required  />
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="col-lg-2 control-label">전화번호</label>
        <div class="col-lg-10">
            <input type="text" data-ng-model="credentials.tel" placeholder="000-0000-0000" class="form-control" />
        </div>
    </div>
</fieldset>
