<fieldset>
    <legend>상품 정보</legend>
    <div class="form-group">
        <label class="col-lg-2 control-label">상품명</label>
        <div class="col-lg-10">
            <input type="text" data-ng-model="product.name" id="name" class="form-control" placeholder="" required>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="col-lg-2 control-label">설명문구</label>
        <div class="col-lg-10">
            <textarea data-ng-model="product.desc" id="desc" class="form-control" placeholder="" required></textarea>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="col-lg-2 control-label">허용 키 개수</label>
        <div class="col-lg-10">
            <input type="number" data-ng-model="product.keys" id="keys" class="form-control" placeholder="" required>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="col-lg-2 control-label">상품 지속일</label>
        <div class="col-lg-10">
            <input type="number" data-ng-model="product.period" id="period" class="form-control" placeholder="" required>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group">
        <label class="col-lg-2 control-label">가격</label>
        <div class="col-lg-10">
            <input type="number" data-ng-model="product.price" id="price" class="form-control" placeholder="" required>
        </div>
    </div>
</fieldset>
