<section class="row" data-ng-controller="CenterManagerController">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="uf" data-ng-submit="signup(f.$valid)" novalidate class="form-horizontal" autocomplete="off">
                <fieldset>
                    <legend>기관 정보</legend>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">기관 ID</label>
                        <div class="col-lg-10">
                            <input type="text" data-ng-model="f.center_id" id="center_id" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">비밀번호</label>
                        <div class="col-lg-10">
                            <input data-ng-model="f.password" name="password" type="password" placeholder="6글자 이상 입력" required class="form-control" data-ng-minlength="6" data-ng-class="{'ng-invalid':f.confirmPassword.$error.match}" />
                            <span class="text-danger" data-ng-show="f.password.$error.minlength">비밀번호는 6글자 이상이어야 합니다.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">비밀번호 확인</label>
                        <div class="col-lg-10">
                            <input type="password" placeholder="" required class="form-control" data-ng-model="f.confirmPassword" match="f.password" name="confirmPassword" />
                            <span class="text-danger" data-ng-show="uf.confirmPassword.$error.match">비밀번호가 일치해야 합니다. {{f.password}}</span>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">기관 명</label>
                        <div class="col-lg-10">
                            <input type="text" data-ng-model="f.center_name" id="center_name" class="form-control" placeholder="" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">사업자 등록번호</label>
                        <div class="col-lg-10">
                            <input type="number" data-ng-model="f.reg_id" id="reg_id" class="form-control" placeholder="10자리 숫자로 입력" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">주소</label>
                        <div class="col-lg-10">
                            <input type="text" data-ng-model="f.address" id="address" class="form-control" placeholder="도로명 주소로 입력" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">전화번호</label>
                        <div class="col-lg-10">
                            <input type="tel" data-ng-model="f.tel" id="tel" class="form-control" placeholder="000-0000-0000" required>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">담당자 이름</label>
                        <div class="col-lg-10">
                            <input type="text" data-ng-model="f.officer" id="officer" class="form-control" placeholder="">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">담당자 연락처</label>
                        <div class="col-lg-10">
                            <input type="tel" data-ng-model="f.officer_tel" id="officer_tel" class="form-control" placeholder="000-0000-0000">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">이메일 주소</label>
                        <div class="col-lg-10">
                            <input type="email" name="email" data-ng-model="f.email" placeholder="" class="form-control" required data-ng-class="{'ng-invalid':f.confirmEmail.$error.match}" />
                            <span>비밀번호 찾기를 위해 사용합니다.</span>
                            <div role="alert"><span class="text-danger" ng-show="f.email.$error.email">이메일 양식(a@a.com)에 어긋납니다.</span></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">이메일 주소 확인</label>
                        <div class="col-lg-10">
                            <input type="email" data-ng-model="f.confirmEmail" placeholder="" class="form-control" required match="f.email" name="confirmEmail" />
                            <span class="text-danger" data-ng-show="uf.confirmEmail.$error.match">이메일 주소가 일치해야 합니다.</span>
                        </div>
                    </div>
                </fieldset>
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-large btn-primary">가입</button>
                    </div>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </form>
        </div>
    </div>
</section>