<section class="row" data-ng-controller="PatientController">
	<div class="panel panel-default">
		<div class="panel-body">
			<form name="userForm" data-ng-submit="signup(userForm.$valid)" novalidate class="form-horizontal" autocomplete="off">
				<id_info></id_info>
				<pw_info></pw_info>
				<default_info></default_info>
				<signin_info></signin_info>
				<patient_info></patient_info>
				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-10">
						<button type="submit" class="btn btn-large btn-primary">가입</button>
					</div>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</form>
		</div>
	</div>
</section>
